.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: black !important;
}
.css-1fu7jd5-MuiButtonBase-root-MuiButton-root {
    background-color: black !important;
    border-radius: 30px !important;
    font-size: .999rem !important;
    padding: 13px 16px !important;
}